.studentinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    .studentinfo-main {
        width: 95%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}