.studentinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    .studentinfo-main {
        width: 85%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.addArea {
    display: flex;
}

.xiugai {
    margin-left: 10px;
}