.ant-table-tbody > th  {

    background: rgb(255,255,255) !important;
  }
  .ant-table-tbody > th:hover{
    background: rgb(119, 116, 116) !important;
  }
  //表头
  .ant-table-thead > tr >th{
    color: black;
    font-size: 15px;
    background: white !important;
  }
  .check-student-ifo{
    display:flex;
    width: 1000px;
    justify-content: space-around;
    flex-direction: row !important;
  }
  