.vaccin {
    width: 100%;
    display: flex;
    justify-content: center;
    .vaccin_main {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.addAreaaddArea {
    display: flex;
}

.xiugai {
    margin-left: 10px;
}